<div class="title">
  {{"createRequest" | translate}}
</div>
<div class="clearfix"></div>
<form [formGroup]="requestForm">
  <div class="form-group">
    <label for="reqName">{{"item.reqName" | translate}}*</label>
    <input id="reqName" type="text" formControlName="requestName" placeholder="{{'item.reqName' | translate}}"/>
  </div>
  <div>
    <div class="form-group half">
      <label>{{"item.requestor" | translate}}*</label>
      <ng-multiselect-dropdown [data]="users" [settings]="requestorSettings" formControlName="requestor"></ng-multiselect-dropdown>
    </div>
    <div class="form-group half">
      <label>{{"item.goodEnding" | translate}}*</label><br>
      <input type="radio" formControlName="goodEnding" value="Yes" id="Yes"/> <label for="Yes" class="radio-label">Yes</label>
      <input type="radio" formControlName="goodEnding" value="Depends" id="Depends"/>  <label for="Depends" class="radio-label">Depends</label>
      <input type="radio" formControlName="goodEnding" value="No" id="No"/> <label for="No" class="radio-label">No</label>
    </div>
  </div>
  <div class="form-group">
    <label for="description">{{"item.description" | translate}}*</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>
  <div>
    <div class="form-group half">
      <label>{{"item.needStoryteller" | translate}}*</label><br>
      <input type="radio" formControlName="needStoryteller" value="true" id="True"/> <label for="True" class="radio-label">True</label>
      <input type="radio" formControlName="needStoryteller" value="false" id="False"/> <label for="False" class="radio-label">False</label>
    </div>
    <div class="form-group half">
      <label for="storyteller">{{"item.storyteller" | translate}}*</label>
      <input id="storyteller" type="text" formControlName="storyteller" placeholder="{{'item.storyteller' | translate}}"/>
    </div>
  </div>
  <div>
    <div class="form-group half">
      <label>{{"item.wantedCharacters" | translate}}</label>
      <ng-multiselect-dropdown [data]="wantedCharacters" [settings]="wantedSettings" formControlName="wantedCharacters"></ng-multiselect-dropdown>
    </div>
    <div class="form-group half">
      <label for="deadline">{{"item.deadline" | translate}}</label>
      <input id="deadline" type="text" formControlName="deadline" placeholder="{{'item.deadline' | translate}}"/>
    </div>
  </div>
  <div>
    <div class="form-group half">
      <label for="budget">{{"item.budget" | translate}}*</label>
      <input id="budget" type="text" formControlName="budget" placeholder="{{'item.budget' | translate}}"/>
    </div>
    <div class="form-group half hide">
      <label for="status">{{"item.status" | translate}}</label>
      <input id="status" type="text" formControlName="status" placeholder="{{'item.status' | translate}}"/>
    </div>
  </div>
</form>
